body {
  padding : 10px ;
  width: 800px;
}

.entete {
    display: flex;
    justify-content: space-between;
	background-color: black;
	width:100%;
    height:75px;
    padding: 9px;
	padding-bottom: 5px;
  margin-bottom: 40px;
	color:white;
}
h1 {
	text-align:center;
	font-family: Monospace;
	font-size: 30px;
	
}
h3 {
	font-size:15px;

}
#exTab1 .tab-content {
  color : black;
  background-color: white;
  padding : 5px 15px;
  font-size:10px;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  padding : 5px 15px;
   color : black;
  background-color: white;
  font-size:23px;
  font-family: Helvetica;
}

.nav-pills > li > a:active {
  background: black;
}